body{
    font-family: Arial;
    font-size: 19px;
}

header{
  
}
header a{
  
}
header .container{
    width: 1200px;
    margin: auto;
}
header .brand{

}
header .brand small{
  
}
header .brand img{
 
}
header .navbar{
   
}
header .navbar .nav-main{
   
}
header .navbar .nav-main a{
   
}
header .navbar .nav-main a::after{
  
}
header .navbar .nav-contacts,
header .navbar .nav-user
{
  
}
header .navbar .nav-user
{
  
}
header .navbar .nav-user a{
   
}
header .navbar .nav-contacts::before{
   
}
header .navbar .nav-contacts a
{
   
}
header .navbar .nav-contacts i
{
   
}
header .navbar .nav-main li,
header .navbar .nav-user li
{
    
}