<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaptive Navbar</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class='navbar'>
        <div class="container">
            <h1 class="navbar__logo"><a href="#">Navbar</a></h1>
            <ul class='navbar__links'>
                <li><a href='#'>navbar</a></li>
                <li><a href='#'>that</a></li>
                <li><a href='#'>handles</a></li>
                <li><a href='#'>overflowing</a></li>
                <li><a href='#'>menu</a></li>
                <li><a href='#'>elements</a></li>
                <li><a href='#'>effortlessly</a></li>
                <li><a href='#'>.<br>.<br>.</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>