body{
    background-color: #333333;
    font-size: 20px;  
    height: 2000px;  
    /*
    background-image: radial-gradient(???,???);
    background-size: ??? ???; 
    */
}

.menu-in-circle{
  

}
.menu-in-circle ul{
   
}
.menu-in-circle ul li a{
  
}
.menu-in-circle ul li:nth-child(1) a{
    
}

/* ??? */
