/* Color Theme Swatches in Hex */
.logo-lg-1-hex { color: #05C7F2; }
.logo-lg-2-hex { color: #1DDDF2; }
.logo-lg-3-hex { color: #1B818C; }
.logo-lg-4-hex { color: #27F2F2; }
.logo-lg-5-hex { color: #0D0D0D; }

